/* Zeroing the page */
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--font-color);
    font-size: 1rem;
}
/* Setting Up Theming Variables */
:root[theme='green']{
    --base-color: #264653;
    --gradient-secondary: #2a9d8f;
    --font-color: white;
    --flare-color: #343a40;
    --logo-color: white;
}
:root[theme='blue']{
    --base-color: #1d3557;
    --gradient-secondary: #457b9d;
    --font-color: white;
    --flare-color: #343a40;
    --logo-color: white;
}
:root[theme='dark']{
    --base-color: #343a40;
    --gradient-secondary: #6c757d;
    --font-color: white;
    --flare-color: #6c757d;
    --logo-color: white;
}
:root{
    --base-color: #e9ecef;
    --gradient-secondary: #f8f9fa;
    --font-color: #343a40;
    --flare-color: #343a40;
    --logo-color: #343a40;
}

/* Using Keyframing to Set up Animated BG, Sourced */
body {
    background: linear-gradient(-45deg, var(--base-color), var(--gradient-secondary), var(--base-color), var(--base-color));
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* Setting up smoothe box-shadow for use globally */
.shadow {
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.08), 
                0 4px 4px rgba(0,0,0,0.08), 
                0 8px 8px rgba(0,0,0,0.08),
                0 12px 12px rgba(0,0,0,0.08);
}
/* Defining Global Container CSS using Flexbox*/
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 75vw;
    max-width: 75vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: var(--gradient-secondary);
    padding: 0 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--font-color);
}
.portfolio-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 75vw;
    max-width: 75vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: var(--gradient-secondary);
    padding: 0 2vh 0 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: 1px solid var(--font-color);
}
.container-break{
    width: 40vw;
}
.logo {
    color: var(--logo-color);
    font-size: 6rem;
    margin-top: 0;
    text-align: center;
    margin-bottom: 0;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;

}
.logo-icon {
    font-size:3rem;
    margin-top: 1rem;
    padding-bottom: 0;
}
.inset {
    text-shadow: 2px 2px 3px rgba(216, 216, 216, 0.5);
                -webkit-background-clip: text;
                -moz-background-clip: text;
                background-clip: text;
}
.sub-logo {
    text-align: center;
    color: var(--font-color);
    margin-top: 0;
    font-style: italic;
}
.theme-button {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: 2px solid var(--font-color);
    border-style: inset;
    margin: 0 1rem;
}
.theme-button:hover {
    cursor: pointer;
    border: 3px solid var(--font-color);
    border-style: inset;
}
.dark-theme {
    background-color: rgb(54, 54, 54);
}
.green-theme {
    background-color: #264653;
}
.blue-theme {
    background-color: #457b9d;
}
.light-theme {
    background-color: white;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list {
    list-style: none;
    display: inline-flex;
    padding-left: 0;
    border: 1px solid white;
    background-color: var(--base-color);
    width: 100%;
    justify-content: center;
}
.nav-item:hover {
    background: white;
}
/* .nav-item {
    
} */
.nav-link {
    color: var(--font-color);
    text-decoration: none;
    font-size: 2rem;
    padding: 0 10px;
    text-transform: lowercase;
}
/* Using Pseudo class to style */
.nav-link:hover {
    color: var(--base-color);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
.profile-img {
    border-radius: 100%;
    width: 17rem;
    max-width: 100%;
    margin-top: 1vh;
    border: 2px solid white;
}
.profile ol {
    list-style: none;
    padding-left: 0;
}
.profile h3 {
    font-size: 1.3rem;
}
.profile ol li {
    font-weight: bold;
    color: var(--font-color);
    font-size: 1.3rem;
}
.services ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    font-size: 1.3rem;
}
.services h2 {
    margin-bottom: 0;
    font-style: italic;
}
.about ul {
    list-style: none;
    padding-left: 0;
    display: inline-flex;
    font-size: 3rem;
}
.about ul li i{
    color: var(--logo-color);
    padding: 0 2vw;
}
.about p {
    font-size: 1.3rem;
    width: 100%;
}
/* Grouping CSS */
.about h2, .contact h2 {
    color: var(--font-color);
    font-style: italic;
}
.inline-link {
    text-decoration: underline;
    color: var(--font-color);
}
.inline-link:hover {
    text-shadow: 1px 0px 1px 1px gray;
    color: var(--base-color);
}
.contact ul {
    padding-left: 0;
}
.contact ul li a:hover{
    color: var(--base-color);
}
.contact li {
    list-style: none;
    display: inline-flex;
    margin: 0 1vw;
}
.contact li a {
    color: var(--font-color);
    font-size: 1.4rem;
}
.footer-text {
    color: var(--flare-color);
    font-size: .75rem;
}
footer {
    height: 3rem;
}
.thinkful {
    color: var(--font-color);
    font-size: 1.3rem;
    font-weight: bold;
}
.contact h2, .contact h4 {
    padding: 0;
    margin: 1rem 0 0 0;
}
.portfolio h2{
    font-style: italic;
}
.portfolio-row {
    display: inline-flex;
}
img {
    width: 100%;
}
.portfolio-column {
    width: 50%;
    min-width: 40%;
    padding: .5rem;
    margin: .5rem;
    color: var(--flare-color);
    border: 1px solid white;
    background-color: whitesmoke;
    flex-direction: column;
}
.portfolio-column h2 {
    color: var(--flare-color);
    font-size: 2rem;
}
@media screen and (max-width:670px){
    .description {
        display: none;
    }
    .portfolio-column img{
        display: none;
    }
    .nav-link {
        font-size: 1rem;
    }
    .portfolio-column h2 {
        font-size: 1rem;
    }
    .portfoli-stack li {
        font-size: 1rem;
    }
    .portfolio-stack i {
        font-size: 2rem;
    }
    #last-name, #business-name{
        display: none;
    }
    #email, #first-name {
        width: 100%;
    }
    .hidden {
        display: none;
    }

}
@media screen and (max-width:530px){
    .hideskill {
        display: none;
    }
}
.description {
    font-size: 1.5rem;
}
.portfolio-button {
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-style: inset;
    width: 4rem;
    height: 2rem;
}
.portfolio-button:hover {
    color:white;
    background-color: var(--base-color);
}
.portfolio-stack {
    display:inline-flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.portfolio-stack li {
    margin: 0;
    padding: 0 .5vw;
    font-size: 3rem;
    color: var(--flare-color);
}
.form-row {
    margin: 1vh 0vh;
    width: 100%;
}
.form-row input{
    height: 3vh;
    border: 1px solid var(--font-color);
    text-align: center;
    width: 100%;
}
.form-row textarea {
    width: 100%;
    height: 8vh;
    resize: none;
}
.form-label {
    color: var(--font-color);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact-form {
    width: 75%;
}
.skillset {
    padding-left: 0;
    columns: 2;
    display: inline-block;
}